<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
/>
<header>
  <div class="mob-header">
    <div class="logo-toggle">
      <div class="logo"><img src="../../assets/desktop/logo.svg" alt="" /></div>
      <div class="toggle-con">
        <img
          src="../../assets/desktop/icon-sun.svg"
          alt="Description of the image"
          class="custom-img"
        />
        <label class="switch">
          <input
            type="checkbox"
            [checked]="isDarkModeEnabled()"
            (change)="toggleDarkMode()"
          />
          <span class="slider round"></span>
        </label>
        <img
          src="../../assets/desktop/icon-moon.svg"
          alt="Description of the image"
          class="custom-img2"
        />
      </div>
    </div>
  </div>
  <div class="header-main">
    <div class="logo-toggle">
      <div class="logo"><img src="../../assets/desktop/logo.svg" alt="" /></div>
      <div class="toggle-con">
        <img
          src="../../assets/desktop/icon-sun.svg"
          alt="Description of the image"
          class="custom-img"
        />
        <label class="switch">
          <input
            type="checkbox"
            [checked]="isDarkModeEnabled()"
            (change)="toggleDarkMode()"
          />
          <span class="slider round"></span>
        </label>
        <img
          src="../../assets/desktop/icon-moon.svg"
          alt="Description of the image"
          class="custom-img2"
        />
      </div>
    </div>
  </div>
</header>

<!-- <app-find></app-find> -->
